:ruby
  StartPage = import("StartPage.haml")
  Counter = import("Counter.haml")
  Haml = import("Haml.haml")
  List = import("List.haml")
  List2 = import("List2.haml")
  Styles = import("Styles.haml")
  GC = import("GC.haml")
  Files = import("Files.haml")
  Life = import("Life.haml")

  PAGES = [
    StartPage,
    List,
    List2,
    Haml,
    Styles,
    GC,
    Files,
    Life,
  ]

  def initialize(**)
    @page = PAGES.first
  end

:ruby
  emit!(:startViewTransition)
%section
  %header
    %h1
      My webpage
    %Counter(initial-count=2)
  %nav
    %menu
      = PAGES.map do |component|
        - aria_current = @page == component ? "page" : false
        %li
          %button{aria_current:, onclick: -> { @page = component }}
            = component.title
  %main
    = H[@page]
  %hr
  %footer
    %p
      %a(href="https://github.com/aalin/rdom" target="_blank")
        github.com/aalin/rdom

:css
  menu {
    display: flex;
    gap: 1em;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 1em;
    background: var(--menu-bg);
    border-radius: 2px;
  }

  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  button {
    border: 0;
    border-radius: 3px;
    cursor: pointer;
    font: inherit;
    padding: 0;
    margin: 0;
    background: transparent;
  }
  button:hover {
    text-decoration: underline;
  }
  button[aria-current]:not([aria-current=false]) {
    font-weight: bold;
  }
