:ruby
  StartPage = import("StartPage.haml")
  # Counter = import("Counter.rb")
  # Counter2 = import("Counter2.rb")
  # AutoCounter = import("AutoCounter.rb")
  # Signals = import("Signals.rb")
  # Signals2 = import("Signals2.rb")
  # Signals3 = import("Signals3.rb")
  # Signals4 = import("Signals4.rb")
  # Signals5 = import("Signals5.rb")
  Haml = import("Haml.haml")
  # List = import("List.rb")

  PAGES = [
    StartPage,
    # Counter,
    # Counter2,
    # AutoCounter,
    # Signals,
    # Signals2,
    # Signals3,
    # Signals4,
    # Signals5,
    # List,
    Haml,
  ]

  def initialize(**)
    @page = PAGES.first
  end

%section
  %header
    %h1 My webpage
  %nav
    %menu
      = PAGES.map do |component|
        %li
          %button{onclick: -> { @page = component }}= component.title
  %main
    = H[@page]
