:ruby
  StartPage = import("StartPage.haml")
  Counter = import("Counter.haml")
  Haml = import("Haml.haml")
  List = import("List.haml")
  Styles = import("Styles.haml")

  PAGES = [
    StartPage,
    List,
    Haml,
    Styles,
  ]

  def initialize(**)
    @page = PAGES.first
  end

%section
  %header(part="rdom-header")
    %h1
      My webpage
    %Counter(initial-count=2)
  %nav
    %menu(part="rdom-menu")
      = PAGES.map do |component|
        %li
          %button{onclick: -> { @page = component }}= component.title
  %main
    = H[@page]

:css
  ::part(rdom-menu) {
    display: flex;
    gap: 1em;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 1em;
    background: #0001;
    border-radius: 2px;
  }
  ::part(rdom-header) {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
