:ruby
  INITIAL_VALUE = 50

  def self.title = "Start"
:ruby
  input = signal(INITIAL_VALUE)
  size = signal(INITIAL_VALUE)

  percent = computed { "#{size.value}%" }

  oninput = ->(target:) do
    size.value = target[:value].to_i
  end

  onchange = ->(target:) do
    input.value = size.value = target[:value].to_i
  end

%article
  %h2 Start page
  %p This webpage is written in Ruby and updates are streamed to your browser via http/2 streams.
  %fieldset
    %legend Play with image sizes
    %p
      %input(type="range" min="1" max="100" step="1" oninput=oninput onchange=onchange value=input)
    %p
      %img(src="/favicon.ico" width=percent)
