:ruby
  def self.title = "Styles"

  Item = Data.define(:value) do
    def id = object_id
    def to_s = value.to_s
  end

  INITIAL_ITEMS = %w[0 1 2 3 4 5 6 7 8 9].map { Item[_1] }.freeze

:ruby
  items = signal(INITIAL_ITEMS)

%article
  %h2 Style demo
  %p Stylesheet demo
  %fieldset
    %legend Play with image sizes
    %p
      %img(src="/favicon.ico")
  = computed do
    %ul
      = items.value.map.with_index do |item, i|
        %li[item]{
          style: { border: [i.px, :solid, "#f0f"] }
        }= item

:css
  img {
    border: 15px solid #f0f;
  }

  ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 1em;
    gap: 1em;
  }

  li {
    flex: 1 1 20%;
    border-radius: 3px;
    background: #0003;
    margin: 0;
    padding: .5em 1em;
  }
